[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.4.3"
pbr = "==5.4.5"

[packages]
oslo-config = "==8.2.0"
sqlalchemy = "==1.3.17"
psycopg2-binary = "==2.8.5"
python-daemon = "==2.2.4"
websockets = "==9.1"
pytest = "==5.4.3"

[requires]
python_version = "3.8"
