[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
jedi = "*"
rope = "*"
autopep8 = "*"
yapf = "*"

[packages]
oslo-config = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-daemon = "*"

[requires]
python_version = "3.7"
